.dashboard-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 58px);
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  word-break: break-all;
  transition: 0.3s;
  padding: 1vw 2vw;
  top: 58px;
}

.dashboard-content-container.grow {
  left: 5vw;
  width: calc(100% - 5vw);
}

.dashboard-content-container.shrink {
  left: 25vw;
  width: calc(100% - 25vw);
}
