.dashboard-content-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 58px);
  margin-top: 58px;
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  z-index: 1;
  word-break: break-all;
  transition: 0.3s;
  padding: 1vw 3vw;
  top: 0;
}

.dashboard-content-container.grow {
  left: 55px;
  width: calc(100% - 55px);
}

.dashboard-content-container.shrink {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar-and-content-container {
  display: flex;
}
