:root {
  /* common */
  --text-color-black: black;
  --text-color-white: white;
  --background-color-dark-blue: #1463df;
  --background-color-light-blue: #4eb7fc;
  --bacground-color-white: white;

  /* light */
  --background-color-light: white;
  --button-color-light: #4eb7fc;
  --input-border-color-light: black;
  --input-background-color-light: white;
  --input-text-color-light: black;
  --label-color-light: black;
  --navbar-background-color-light: #1463df;
  --dashboard-background-color-light: white;

  /* dark */
  --background-color-dark: black;
  --button-color-dark: gray;
  --input-border-color-dark: white;
  --input-background-color-dark: black;
  --input-text-color-dark: white;
  --label-color-dark: white;
  --navbar-background-color-dark: black;
  --dashboard-background-color-dark: rgb(59, 59, 59);
}

body.light {
  background-color: var(--background-color-light);
  color: var(--text-color-black);
}

body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-white);
}

button.light {
  background-color: var(--button-color-light);
  color: var(--text-color-black);
}

button.dark {
  background-color: var(--button-color-dark);
  color: var(--text-color-white);
}

input.light {
  border-color: var(--input-border-color-light);
  background-color: var(--input-background-color-light);
  color: var(--input-text-color-light);
}

input.dark {
  border-color: var(--input-border-color-dark);
  background-color: var(--input-background-color-dark);
  color: var(--input-text-color-dark);
}

label.light {
  color: var(--label-color-light);
}

label.dark {
  color: var(--label-color-dark);
}

.navbar.light {
  background-color: var(--navbar-background-color-light);
  color: var(--text-color-black);
}

.navbar.dark {
  background-color: var(--navbar-background-color-dark);
  color: var(--text-color-white);
}

.logout-button.light {
  background-color: var(--bacground-color-white);
  color: var(--text-color-black);
}

.logout-button.dark {
  background-color: var(--background-color-dark-blue);
  color: var(--text-color-white);
}

.dashboard-body.light {
  background-color: var(--dashboard-background-color-light);
  color: var(--text-color-black);
}

.dashboard-body.dark {
  background-color: var(--dashboard-background-color-dark);
  color: var(--text-color-white);
}

.navbar-theme-icon.light {
  filter: invert(100%);
}
