@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

/* default styles for small mobile devices */
html,
input,
button,
span {
  font-size: 3.5vw;
}

img {
  width: 8vw;
}

.sidebar {
  width: 0vw;
}

.sidebar.open {
  width: 100vw;
}

.dashboard-content-container.grow {
  left: 0vw;
  width: calc(100% - 0vw);
}

.dashboard-content-container.shrink {
  left: 100vw;
  width: calc(100% - 100vw);
}

.navbar-theme-icon {
  border-radius: 5px;
  padding: 0.5vw;
}

/*  mobile devices */
@media (min-width: 320px) {
  html,
  input,
  button,
  span {
    font-size: 3vw;
  }

  img {
    width: 5vw;
  }

  .sidebar {
    width: 20vw;
  }

  .sidebar.open {
    width: 80vw;
  }

  .dashboard-content-container.grow {
    left: 20vw;
    width: calc(100% - 20vw);
  }

  .dashboard-content-container.shrink {
    left: 80vw;
    width: calc(100% - 80vw);
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  html,
  input,
  button,
  span {
    font-size: 1.5vw;
  }

  img {
    width: 2vw;
  }

  .sidebar {
    width: 10vw;
  }

  .sidebar.open {
    width: 40vw;
  }

  .dashboard-content-container.grow {
    left: 10vw;
    width: calc(100% - 10vw);
  }

  .dashboard-content-container.shrink {
    left: 40vw;
    width: calc(100% - 40vw);
  }

  .navbar-theme-icon {
    border-radius: 4px;
    padding: 0.5vw;
  }
}

/* desktop */
@media (min-width: 1024px) and (max-width: 1919px) {
  html,
  input,
  button,
  span {
    font-size: 1.25vw;
  }

  img {
    width: 1.5vw;
  }

  .sidebar {
    width: 5vw;
  }

  .sidebar.open {
    width: 20vw;
  }

  .dashboard-content-container.grow {
    left: 5vw;
    width: calc(100% - 5vw);
  }

  .dashboard-content-container.shrink {
    left: 20vw;
    width: calc(100% - 20vw);
  }

  .navbar-theme-icon {
    border-radius: 5px;
    padding: 0.5vw;
  }
}

/* large desktop */
@media (min-width: 1920px) {
  html,
  input,
  button,
  span {
    font-size: 1vw;
  }

  img {
    width: 1vw;
  }

  .sidebar {
    width: 4vw;
  }

  .sidebar.open {
    width: 16vw;
  }

  .dashboard-content-container.grow {
    left: 4vw;
    width: calc(100% - 4vw);
  }

  .dashboard-content-container.shrink {
    left: 16vw;
    width: calc(100% - 16vw);
  }

  .navbar-theme-icon {
    border-radius: 10px;
    padding: 0.5vw;
  }
}
