@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

html {
  font-size: 2vw; /* tablet */
}

input {
  font-size: 2vw; /* tablet */
}

button {
  font-size: 2vw; /* tablet */
}

img {
  width: 2vw; /* tablet */
}

span {
  font-size: 2vw; /* tablet */
}

.sidebar {
  width: 5vw;
}

.sidebar.open {
  width: 20vw;
}

.dashboard-content-container.grow {
  left: 5vw;
  width: calc(100% - 5vw);
}

.dashboard-content-container.shrink {
  left: 20vw;
  width: calc(100% - 20vw);
}

/* mobile */
@media (max-width: 500px) {
  html {
    font-size: 4vw;
  }
  input {
    font-size: 4vw;
  }
  button {
    font-size: 4vw;
  }
  img {
    width: 6vw;
  }
  span {
    font-size: 4vw;
  }
  .sidebar {
    width: 15vw;
  }
  .sidebar.open {
    width: 60vw;
  }
  .dashboard-content-container.grow {
    left: 15vw;
    width: calc(100% - 15vw);
  }
  .dashboard-content-container.shrink {
    left: 60vw;
    width: calc(100% - 60vw);
  }
}

/* desktop */
@media (min-width: 800px) {
  html {
    font-size: 1.5vw;
  }
  input {
    font-size: 1.5vw;
  }
  button {
    font-size: 1.5vw;
  }
  img {
    width: 2vw;
  }
  span {
    font-size: 1.5vw;
  }
  .sidebar {
    width: 4vw;
  }
  .sidebar.open {
    width: 16vw;
  }
  .dashboard-content-container.grow {
    left: 4vw;
    width: calc(100% - 4vw);
  }
  .dashboard-content-container.shrink {
    left: 16vw;
    width: calc(100% - 16vw);
  }
}

/* 1920 res desktop */
@media (min-width: 1900px) {
  html {
    font-size: 1vw;
  }
  input {
    font-size: 1vw;
  }
  button {
    font-size: 1vw;
  }
  img {
    width: 1.25vw;
  }
  span {
    font-size: 1vw;
  }
  .sidebar {
    width: 3vw;
  }
  .sidebar.open {
    width: 15vw;
  }
  .dashboard-content-container.grow {
    left: 3vw;
    width: calc(100% - 3vw);
  }
  .dashboard-content-container.shrink {
    left: 15vw;
    width: calc(100% - 15vw);
  }
}
