h1 {
  font-weight: 400;
}

.table-container{
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.page-border{
  border-radius: 6px;
  border: solid 1px #baeeff;
  padding: 16px;
}

th{
  background-color: #1463df;
  color: white;
  font-weight: 400;
  min-width: 250px;
}

th, td {
  padding: 8px;
  text-align: left;
}

tr:hover {background-color: #effbff;}

.options-buttons-container{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
}

.button {
  font-size: medium;
  background: transparent;
  outline: none;
  border-radius: 6px;
  color: white;
  margin-right: 6px;
  cursor: pointer;
  padding: 5px 10px;
  text-decoration: none;
}

.blue-button{
  border: 1px solid #1463df;
  background-color: #1463df;
}

.red-button{
  background-color: #f52929;
  border: 1px solid #8c1414;
}

.yellow-button{
  background-color: #FFD93D;
  color: black;
  border: 1px solid #c7a92f;
}

.yellow-button:hover{
  background-color: #debc34;
}

.red-button:hover{
  background-color: #dc2828;
}

.blue-button:hover{
  background-color: #2260c5;
}

.button:active{
  padding-top: 4px;
  padding-bottom: 4px;
}

.edit-popup{
  background-color: red;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}