.menu-item-container{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    background-color: #ceecff;
    width: 100%;
    padding: 16px;
    font-size: 20px;
    color:#1463df;
    text-align: left;
    box-sizing: border-box;
}

.menu-item{
    text-decoration: none;
    color: #1463df;
    display: flex;
    padding: 16px 10px;
    border-radius: 10px;
    width: 250px;
}

.menu-item:hover{
    background-color: #397FED;
    color:#ceecff;
}

.active {
    background-color: #397FED;
    color:#ceecff;
}

.copyright-container{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.copyright{
    font-size: small;
}

.copyright-logo{
    width: 50px;
}

.menu-div{
    background-color: #ceecff;
    margin: 0px;
    height: calc(100vh - 75px);
    width: auto;
    max-width: 300px;
    border-right:2px solid #397FED;
    top: 75px;
    position: fixed;
    display: flex;
    z-index: 10;
}