.menu-item-container{
    padding: 0px;
}

.menu-item-container li{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    background-color: #ceecff;
    border-bottom: dotted 1px#397FED;
    width: 100%;
    padding: 16px;
    font-size: 20px;
    color:#1463df;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
}

.menu-item-container li:hover{
    background-color: #397FED;
    color:#ceecff;
}

.menu-item{
    text-decoration: none;
    color: #1463df;
}

.copyright-container{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.copyright{
    font-size: small;
}

.copyright-logo{
    width: 50px;
}

.menu-div{
    background-color: #ceecff;
    margin: 0px;
    height: calc(100vh - 75px);
    width: auto;
    max-width: 300px;
    border-right:2px solid #397FED;
    position: relative;
}