.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

.navbar-title {
  margin: 0;
  margin-right: 0.5rem;
  color: white;
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.logout-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 2vw;
}

.navbar-theme-icon {
  cursor: pointer;
  width: 3vw;
  object-fit: contain;
  padding: 0.5rem;
  border: solid 0.1vw;
  border-radius: 10px;
}
.navbar-menu-icon {
  cursor: pointer;
  width: 3vw;
  object-fit: contain;
  margin-right: 0.5rem;
}

.navbar-logo {
  width: 3vw;
  object-fit: contain;
  margin-right: 10px;
}

/* media queries for mobile and desktop */

/* mobile */
@media (max-width: 500px) {
  .navbar-theme-icon {
    width: 6vw;
  }
  .navbar-menu-icon {
    width: 6vw;
  }
  .navbar-logo {
    width: 6vw;
  }
}

/* desktop */
@media (min-width: 800px) {
  .navbar-theme-icon {
    width: 2vw;
  }
  .navbar-menu-icon {
    width: 2vw;
  }
  .navbar-logo {
    width: 2vw;
  }
}
