.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
  transition: all 0.3s;
}

.navbar-title {
  margin: 0;
  margin-right: 0.5rem;
  color: white;
}

.left-container {
  display: flex;
  align-items: center;
}

.icon-and-logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.right-container {
  display: flex;
  align-items: center;
}

.navbar-theme-icon {
  cursor: pointer;
  object-fit: contain;
  padding: 0.5rem;
  border: solid 0.1vw;
  border-radius: 10px;
}

.navbar-menu-icon {
  cursor: pointer;
  object-fit: contain;
  margin-right: 0.5rem;
  transition: all 0.3s;
}

.navbar-logo {
  object-fit: contain;
  margin-right: 10px;
}
