.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 58px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 3;
}

.navbar-menu-icon {
  cursor: pointer;
  width: 30px;
  object-fit: contain;
  margin-right: 0.5rem;
}

.navbar-logo {
  width: 30px;
  object-fit: contain;
  margin-right: 10px;
}

.navbar-title {
  margin: 0;
  margin-right: 0.5rem;
  color: white;
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.logout-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar-theme-icon {
  cursor: pointer;
  width: 20px;
  object-fit: contain;
  padding: 0.5rem;
  border: solid 2px;
  border-radius: 10px;
}
