/* tablet */
:root {
  --sidebar-copyright-logo-width-open: 8vw;
  --sidebar-copyright-logo-width-closed: 4vw;
  --sidebar-copyright-text-width-open: 2vw;
  --sidebar-copyright-text-width-closed: 1.6vw;
}

/* mobile */
@media (max-width: 500px) {
  :root {
    --sidebar-copyright-logo-width-open: 16vw;
    --sidebar-copyright-logo-width-closed: 8vw;
    --sidebar-copyright-text-width-open: 4vw;
    --sidebar-copyright-text-width-closed: 3.2vw;
  }
}

/* desktop */
@media (min-width: 800px) {
  :root {
    --sidebar-copyright-logo-width-open: 4vw;
    --sidebar-copyright-logo-width-closed: 2vw;
    --sidebar-copyright-text-width-open: 1vw;
    --sidebar-copyright-text-width-closed: 0.8vw;
  }
}

/* 1920 desktop */
@media (min-width: 1900px) {
  :root {
    --sidebar-copyright-logo-width-open: 3vw;
    --sidebar-copyright-logo-width-closed: 2vw;
    --sidebar-copyright-text-width-open: 0.8vw;
    --sidebar-copyright-text-width-closed: 0.5vw;
  }
}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  height: calc(100vh - 58px);
  position: fixed;
  top: 58px;
  left: 0;
  z-index: 2;
  width: 5vw;
  transition: 0.3s ease-in-out;
  overflow: auto;
}

.sidebar.open {
  padding: 10px;
  width: 25vw;
}

.copyright-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.copyright-logo {
  width: 10vw;
  object-fit: contain;
}

.menus-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.category-separator {
  height: 1px;
  background-color: #fff;
  margin: 0 0 1vh 0; /* top | right | bottom | left */
}
