.sidebar-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 1vh;
  border-radius: 10px;
  word-break: break-all;
}

.sidebar-button.open {
  width: 100%;
}

.sidebar-button-img {
  container-type: contain;
}

.sidebar-title {
  margin-left: 10px;
}
