.sidebar {
  height: calc(100vh); /* Subtract the height of the navbar */
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}
