.main-container{
    display: block;
}

body{
    font-family: 'Dongle', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size: 25px;
}

.main-body{
    padding: 26px 32px;
    width: 100%;
}

.content-screen{
    width:auto;
    position:relative;
    top: 70px;
    padding-left: 310px;
}

.content-screen-main{
    width:auto;
    position:relative;
    top: 75px;
    padding-left: 310px;
}